# Banco de dados

Ao criar uma aplicação em uma linguagem de programação que precisa acessar um sistema gerenciador de banco de dados relacional (RDBMS), uma vez que são processos distintos, é preciso criar uma conexão entre eles. Após estabelecida a conexão, é possível (de alguma forma) enviar comandos SQL para efetuar as ações no banco (RAMAKRISHNAN; GEHRKE, 2003). Para fazer a conexão e permitir que uma linguagem de programação se comunique com um banco de dados com a utilização da linguagem SQL, podemos usar as tecnologias ODBC (Open Database Connectivity) e JDBC (Java Database Connectivity).

## Sqlite3

In [70]:
import sqlite3

cria ou abre o arquivo em disco:

In [71]:
conn = sqlite3.connect('aulaDB.db')

além do `connect`, também é necessário um `cursor` para fazer a ponte com o bd:

In [72]:
cursor = conn.cursor()

Agora que temos uma conexão com um banco de dados, vamos utilizar uma instrução DDL da linguagem SQL para criar a tabela fornecedor. O comando SQL que cria a tabela fornecedor está no código a seguir e foi guardado em uma variável chamada ddl_create. Caso execute todas as células novamente, certifique-se de apagar a tabela no banco, para evitar o erro.

neste caso os comandos sql são armazenados em uma variável string:

In [73]:
comandos = """
CREATE TABLE fornecedor (
id_fornecedor INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
nome_fornecedor TEXT NOT NULL,
cnpj VARCHAR(18) NOT NULL,
cidade TEXT,
estado VARCHAR(2) NOT NULL,
cep VARCHAR(9) NOT NULL,
data_cadastro DATE NOT NULL
);
"""

executa os comandos sql:

In [74]:
cursor.execute(comandos)

fecha tudo:

In [68]:
cursor.close()

In [69]:
conn.close()

mais comandos:

In [75]:
comandos = """
INSERT INTO fornecedor (nome_fornecedor, cnpj, cidade, estado, cep, data_cadastro)
VALUES ('Empresa A', '11.111.111/1111-11', 'São Paulo', 'SP', '11111-111', '2020-01-01')
"""

abre de novo:

In [47]:
conn   = sqlite3.connect('aulaDB.db')
cursor = conn.cursor()

In [76]:
cursor.execute(comandos)

In [77]:
comandos = """
INSERT INTO fornecedor (nome_fornecedor, cnpj, cidade, estado, cep, data_cadastro)
VALUES ('Empresa B', '22.222.222/2222-22', 'Rio de Janeiro', 'RJ', '22222-222', '2020-01-01')
"""

In [78]:
cursor.execute(comandos)

In [79]:
comandos = """
INSERT INTO fornecedor (nome_fornecedor, cnpj, cidade, estado, cep, data_cadastro)
VALUES ('Empresa C', '33.333.333/3333-33', 'Curitiba', 'PR', '33333-333', '2020-01-01')
"""

In [80]:
cursor.execute(comandos)

Caso tenha ficado alguma coisa pendente:

In [81]:
conn.commit()

mostra o que inserimos no bd:

In [89]:
comandos = """
SELECT * FROM fornecedor
"""

In [90]:
cursor.execute(comandos)

In [91]:
resultado = cursor.fetchall()

In [92]:
print(resultado)

[(1, 'Empresa A', '11.111.111/1111-11', 'São Paulo', 'SP', '11111-111', '2020-01-01'), (2, 'Empresa B', '22.222.222/2222-22', 'Rio de Janeiro', 'RJ', '22222-222', '2020-01-01'), (3, 'Empresa C', '33.333.333/3333-33', 'Curitiba', 'PR', '33333-333', '2020-01-01')]

In [93]:
for linha in resultado :
    print(linha)

(1, 'Empresa A', '11.111.111/1111-11', 'São Paulo', 'SP', '11111-111', '2020-01-01')
(2, 'Empresa B', '22.222.222/2222-22', 'Rio de Janeiro', 'RJ', '22222-222', '2020-01-01')
(3, 'Empresa C', '33.333.333/3333-33', 'Curitiba', 'PR', '33333-333', '2020-01-01')

In [96]:
cursor.execute("SELECT * FROM fornecedor WHERE id_fornecedor = 2")
resultado = cursor.fetchall()
print(resultado)

[(2, 'Empresa B', '22.222.222/2222-22', 'Rio de Janeiro', 'RJ', '22222-222', '2020-01-01')]

In [97]:
cursor.close()
conn.close()

## Update

In [98]:
conn = sqlite3.connect('aulaDB.db')
cursor = conn.cursor()

In [99]:
cursor.execute("UPDATE fornecedor SET cidade = 'Campinas' WHERE id_fornecedor = 2")
conn.commit()

In [101]:
cursor.execute("SELECT * FROM fornecedor")
for linha in cursor.fetchall():
    print(linha)

(1, 'Empresa A', '11.111.111/1111-11', 'São Paulo', 'SP', '11111-111', '2020-01-01')
(2, 'Empresa B', '22.222.222/2222-22', 'Campinas', 'RJ', '22222-222', '2020-01-01')
(3, 'Empresa C', '33.333.333/3333-33', 'Curitiba', 'PR', '33333-333', '2020-01-01')

In [102]:
cursor.close()
conn.close()

## Delete

In [104]:
conn = sqlite3.connect('aulaDB.db')
cursor = conn.cursor()

In [105]:
cursor.execute("DELETE FROM fornecedor WHERE id_fornecedor = 2")
conn.commit()

In [106]:
cursor.execute("SELECT * FROM fornecedor")
for linha in cursor.fetchall():
    print(linha)

(1, 'Empresa A', '11.111.111/1111-11', 'São Paulo', 'SP', '11111-111', '2020-01-01')
(3, 'Empresa C', '33.333.333/3333-33', 'Curitiba', 'PR', '33333-333', '2020-01-01')

In [107]:
cursor.close()
conn.close()

## Informações

In [109]:
conn = sqlite3.connect('aulaDB.db')
cursor = conn.cursor()

In [110]:
cursor.execute("""SELECT name FROM sqlite_master WHERE type='table' ORDER BY name""")
print('Tabelas:')
for tabela in cursor.fetchall():
    print(tabela)

Tabelas:
('fornecedor',)
('sqlite_sequence',)

In [111]:
tabela = 'fornecedor'
cursor.execute(f"""SELECT sql FROM sqlite_master WHERE type='table' AND name='{tabela}'""")
print(f'\nDDL da tabela {tabela}:')
for schema in cursor.fetchall():
    print("%s" % (schema))

DDL da tabela fornecedor:
CREATE TABLE fornecedor (
id_fornecedor INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
nome_fornecedor TEXT NOT NULL,
cnpj VARCHAR(18) NOT NULL,
cidade TEXT,
estado VARCHAR(2) NOT NULL,
cep VARCHAR(9) NOT NULL,
data_cadastro DATE NOT NULL
)

In [107]:
cursor.close()
conn.close()