In [1]:
import sqlite3

In [2]:
# 1. Conectar ou criar o banco de dados (usando o SQLite em memória para simplicidade)
# Para manter o DB após a execução, substitua ':memory:' por um nome de arquivo (ex: 'imobiliaria.db')
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("Conexão com o banco de dados estabelecida.")

Conexão com o banco de dados estabelecida.

In [3]:
# 2. Criação das Tabelas
# Baseado na estrutura lógica das entidades Tipo de Imóvel, Cidade, Proprietário e Imóvel.

# Tabela TipoDeImovel (Baseada na entidade Tipo de Imóvel)
cursor.execute("""
CREATE TABLE TipoDeImovel (
    IdTpImovel INTEGER PRIMARY KEY,
    TipoDeImovel TEXT NOT NULL
);
""")

In [4]:
# Tabela Cidade (Baseada na entidade Cidade)
cursor.execute("""
CREATE TABLE Cidade (
    CodCidade INTEGER PRIMARY KEY,
    Cidade TEXT NOT NULL,
    Campo TEXT 
);
""")

In [5]:
# Tabela Proprietario (Baseada na entidade Proprietário)
cursor.execute("""
CREATE TABLE Proprietario (
    IdProprietario INTEGER PRIMARY KEY,
    Nome TEXT NOT NULL,
    RG TEXT
);
""")

In [6]:
# Tabela Imovel (Baseada na entidade Imóvel, referenciando as chaves estrangeiras)
# Note que NrImóvel é o PK, e IdTpImóvel, CodCidade e IdProprietário são FKs.
cursor.execute("""
CREATE TABLE Imovel (
    NrImovel TEXT PRIMARY KEY, 
    QtdeQuartos INTEGER,
    QtdeBanheiros INTEGER,
    VistaParaMar BOOLEAN, 
    Endereco TEXT,
    IdTpImovel INTEGER,
    CodCidade INTEGER,
    IdProprietario INTEGER,
    FOREIGN KEY (IdTpImovel) REFERENCES TipoDeImovel(IdTpImovel),
    FOREIGN KEY (CodCidade) REFERENCES Cidade(CodCidade),
    FOREIGN KEY (IdProprietario) REFERENCES Proprietario(IdProprietario)
);
""")

print("Tabelas criadas com sucesso: TipoDeImovel, Cidade, Proprietario, Imovel.")

Tabelas criadas com sucesso: TipoDeImovel, Cidade, Proprietario, Imovel.

In [7]:
# 3. Inserção de Dados de Exemplo (Carregamento dos dados)

# Inserir Tipos de Imóvel
cursor.execute("INSERT INTO TipoDeImovel VALUES (1, 'Casa');")
cursor.execute("INSERT INTO TipoDeImovel VALUES (2, 'Apartamento');")

# Inserir Cidades (SC Litoral)
cursor.execute("INSERT INTO Cidade VALUES (101, 'Florianópolis', 'Sul');")
cursor.execute("INSERT INTO Cidade VALUES (102, 'Balneário Camboriú', 'Norte');")

# Inserir Proprietários
cursor.execute("INSERT INTO Proprietario VALUES (201, 'João Silva', '987654');")
cursor.execute("INSERT INTO Proprietario VALUES (202, 'Maria Oliveira', '123456');")

# Inserir Imóveis (usando as FKs referenciadas)
# Imóvel 1: Casa (1), em Florianópolis (101), de João Silva (201)
cursor.execute("""
INSERT INTO Imovel VALUES (
    'CASA001', 3, 2, 1, 'Rua das Gaivotas, 100', 1, 101, 201
);
""")
# Imóvel 2: Apartamento (2), em Balneário Camboriú (102), de Maria Oliveira (202)
cursor.execute("""
INSERT INTO Imovel VALUES (
    'APT005', 2, 1, 0, 'Av. Atlântica, 500', 2, 102, 202
);
""")

conn.commit()
print("Dados de exemplo inseridos com sucesso.")

Dados de exemplo inseridos com sucesso.

In [8]:
# 4. Consulta de Verificação (Teste e Avaliação)

print("\n--- Resultados da Consulta (Imóveis e Proprietários) ---")
# Junta as tabelas Imovel e Proprietario para exibir um resultado coeso
cursor.execute("""
SELECT 
    I.NrImovel, 
    P.Nome AS Proprietario, 
    T.TipoDeImovel, 
    C.Cidade,
    I.QtdeQuartos,
    I.VistaParaMar
FROM Imovel I
JOIN Proprietario P ON I.IdProprietario = P.IdProprietario
JOIN TipoDeImovel T ON I.IdTpImovel = T.IdTpImovel
JOIN Cidade C ON I.CodCidade = C.CodCidade;
""")

results = cursor.fetchall()
for row in results:
    print(row)

--- Resultados da Consulta (Imóveis e Proprietários) ---
('CASA001', 'João Silva', 'Casa', 'Florianópolis', 3, 1)
('APT005', 'Maria Oliveira', 'Apartamento', 'Balneário Camboriú', 2, 0)

In [9]:
# 5. Fechar Conexão
conn.close()
print("\nConexão fechada.")

Conexão fechada.